.header {
    margin-top: .5rem;
    padding-left: 10px;
    background-color: #007afe;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    list-style: none;
    border-radius: 5px;
    }


.nav-item{
    list-style: none;
    text-decoration-color: cornsilk;

    border-radius: 5px;
    border: 1px ;

}
.nav-item :hover {
    color: #d7d7d7;

}

.link {
    color: white;
}
.link :hover {
    color: #d7d7d7;
}

