.header {
    margin-top: .5rem;
    padding-left: 10px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 7px;


}

.header ul li:hover {
    background-color: #282c34;
}

.header a:hover {
    text-decoration: dashed;
}
.link {
    color: darkgray;
}



