

.nav-item{
    list-style: none;
    text-decoration-color: cornsilk;

    border-radius: 5px;
    border: 1px ;

}
.nav-item :hover {
    color: #d7d7d7;

}

.link {
    color: white;
}
.link :hover {
    color: #d7d7d7;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt2 {
    margin-top: 2rem;
}